<%- include('../base') %>
<div class="container m-3 p-3">
    <form method="POST" action="/authors/edit/<%= author[0].id %>" class="form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" value="<%= author[0].email %>">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname" class="form-control" value="<%= author[0].firstname %>">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname" class="form-control" value="<%= author[0].lastname %>">
        <br>
        <button type="submit" class="btn btn-success">EDIT</button>
    </form>
    <br><a href="/authors"><button class="btn btn-danger">Cancel</button></a>
</div>